@import url('https://fonts.googleapis.com/css?family=Harmattan|Montserrat');

/* General layout of website */
body {
  background-color: #66D4B8;
}
header {
  color: #42B1D6;
  text-shadow: 1px 1px 0 rgb(255, 0, 0);
  font-size: 32px;
  background-color: #F58711;
  font-family: "Monserrat";
}

#drop {
  float: left;
}

.cyan {
  background-color: cyan;
}

.white {
  color: white;
}

.btn-home {
  background-color: orange;
}

.btn-wordpress {
  background-color: #B6E3F2;
}

.btn-social-icon {
  padding-left: 1px;
  padding-right: 1px;
}

.btn-social-icon:hover {
  color: #61F2A5;
}

#intro {
  padding-top: 35px;
}

#conbutton {
  padding-top: 50%;
}

p {
  font-size: 18px;
  font-family: "Harmattan";
}

#social {
  padding-top: 35px;
}
