@import url('https://fonts.googleapis.com/css?family=Harmattan|Montserrat');

/* General layout of website */
#body {
  background-color: #81F0BC;
}

header {
  color: #42B1D6;
  text-shadow: 1px 1px 0 rgb(255, 0, 0);
  font-size: 32px;
  background-color: #F58711;
  font-family: "Monserrat";
}

h3 {
  text-decoration: underline;
  font-family: "Monserrat";
}

#drop {
  float: left;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.white {
  color: white;
}

.btn-home {
  background-color: orange;
}

.btn-wordpress {
  background-color: #5FD2D4;
}

.btn-upwork {
  background-color: #8CE070;
}

#upicon {
  color: white;
}

.btn-social-icon {
  padding-left: 1px;
  padding-right: 1px;
}

.btn-social-icon:hover {
  color: #61F2A5;
}

#intro {
  padding-top: 35px;
}

p {
  font-size: 18px;
  font-family: "Harmattan";
}

#social {
  padding-top: 50px;
}

#conbutton {
  padding-top: 15px;
  font-family: "Harmattan";
}

.dropdown-menu li {
  font-family: "Harmattan";
  font-size: 18px;
}

#affil {
  padding-top: 60px;
}

.un {
  text-decoration: underline;
}

#cbutton {
  float: right;
  font-family: "Harmattan";
}

#mainphilo {
  padding-top: 15px;
}

#xpapers_gadget ol {
  list-style-type: none;
}

#xpapers_gadget div {
  display: none;
}

#philobutton {
  padding-top: 25px;
  font-family: "Harmattan";
}
